* {
    box-sizing: border-box;
}

body {
    background-color: #fefefe;
}

p {
    margin : 0px;
}

.navigation {
    display: flex;
    box-sizing: content-box;
    width: 100%;
    height: 25px;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: solid black 2px;
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.nav-links a {
    text-decoration : none ;

}
.nav-title {
    width : 80% ;
    display: flex;
    min-width: 300px;
    align-items: flex-end;
}

.nav-links {
    width : 20% ;
    text-align: center;
    display : flex ;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.products {
    display : flex;
    flex-wrap: wrap;
    gap : 10px;
    font-family : 'Roboto', sans-serif;
}

.card {
    /*background-color: aqua;*/
    width : 240px;
    height: 350px;
}

.card-img {
    width: 100%;
    height: 80%;
    /*background-color: dodgerblue;*/
}
.card-img-img {
    width : 100%;
    height: 100%;
    border-radius : 20px;
}
.card-actions {
    width : 100%;
    height: 20%;
    background-color: #fefefe;
}

.card-actions-name-price {
    height: 50%;
    width : 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.card-actions-btn {
    display : flex ;
    height: 50%;
    width : 100%;
    justify-content: space-around;
    /*gap : 3px;*/
}

/*a {*/
/*    text-decoration : none;*/
/*}*/
.btn {
    border-radius : 10px;
    background-color: #f6f6f6;
    text-align: center;
    width: 40%;
    border : none ;
}

.btn:hover {
    background-color: cornflowerblue;
}
.btn:active {
    background-color : lightskyblue;
}