* {
    box-sizing: border-box;
}
.navigation {
    display : flex ;
    width : 100%;
    height : 25px;
    align-items: center;
    background-color: grey;
}
. nav-links {
    width : 20% ;
    justify-content : end;

}

.nav-title {
    width : 80% ;

}